$circle-diameter: 220px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
  }

@mixin clearFix {
    content: "";
    display: block;
    clear: both;
}

@function circle() {
    @return 50%;
}

@mixin media {
    @media screen and (max-width: 768px) {
      @content;
    }
}